:root{
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
}

body{
    height: 100vh;
    background-color: var(--primary-color);
    padding: 70px;
    font-family: Righteous, sans-serif;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    gap: 16px;
}
header span{
    font-size: 32px;
}
.pokebola{
    height: 48px;
    width: 48px;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sombra{
    position: absolute;
    font-size: 26vw;
    color: #ffffff55;
    z-index: -999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);

}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 22vw;
    color: rgb(255, 255, 255);
}
.container{
    height: 154px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0%;


}
.descricao h2{
    font-size: 64;
    color: var(--secundary-color);
}

.container a{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: var(--secundary-color);
    align-items: center;
    font-size: 48px;
    color: white;
}
.descricao p{
    text-align: none;
}

.pikachu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    
}

footer{
    text-align: center;
    color: var(--secundary-color);
}

@media (max-width: 768px){
    body {
        padding: 30px;
    }
    .sombra{
        transform: translate(-50%, -180%);
    }
    main{
        justify-content: space-between;
    }
    h1 {
        align-items: start;
        transform: translateY(40%);
        flex-grow: 0;

    }
    .container{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 0;
    }
    .descricao p{
        text-align: center;
    }
    footer {
        display: none;

    }
}

/* MOBILE8 */
@media (max-width: 480px) {
    .descricao h2 {
        font-size: 38px;
    }
    .descricao p {
        display: none;
    }
    .sombra {
        transform: translate(-50%, -230%);
    }
    .pikachu {
        height: 50vh;
    }
    .container a {
        width: 100%;

    }
}
